*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
}

/* MAIN */

.main{
    width: 100%;
}

/* NAVBAR */

.top{
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.navbar{
    width: 100%;
    padding: 25px 8%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    list-style: none;
    flex-wrap: wrap;
}

/* LOGO */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.f{
    color: cyan;
    font-size: 40px;
}

.sec{
    color: orangered;
    font-size: 40px;
}

/* NAV LINKS */

.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.navbar li a:hover{
    color: blue;
}

.active{
    text-decoration: underline;
}

/* ABOUT SECTION */

.bottom{
    width: 100%;
    padding: 60px 8%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: 50px;
    flex-wrap: wrap;
}

/* LEFT SIDE */

.left{
    flex: 1;
    min-width: 300px;
}

.hello h2{
    color: #1877f2;
    font-size: 50px;
    margin-bottom: 25px;
}

.text{
    font-size: 22px;
    line-height: 40px;
    color: #444;
}

/* EMAIL */

.email{
    margin-top: 40px;
}

.email h4{
    font-size: 28px;
    margin-top: 15px;
}

.email p{
    font-size: 22px;
    margin-top: 5px;
}

/* IMAGE */

.container{
    flex: 1;
    min-width: 280px;

    display: flex;
    justify-content: center;
}

.container img{
    width: 400px;
    max-width: 100%;
    border-radius: 20px;
    height:400px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .navbar{
        gap: 18px;
        padding: 20px;
    }

    .logo{
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }

    .bottom{
        flex-direction: column;
        text-align: center;
    }

    .hello h2{
        font-size: 38px;
    }

    .text{
        font-size: 18px;
        line-height: 32px;
    }

    .email h4{
        font-size: 22px;
    }

    .email p{
        font-size: 18px;
    }

    .container img{
        width: 260px;
    }
}
